@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --Transition: 0.8s ease;
}

/* ************************** */
/* RESETS */
/* ************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  transition: var(--Transition);
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: transparent;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background: var(--Background);
  transition: var(--Transition);
}

/* ************************** */
/* MULTI STYLING */
/* ************************** */

main,
.footer-container {
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
  transition: var(--Transition);
}

section,
footer {
  transition: var(--Transition);
}

h1,
h2,
h3,
h4 {
  color: var(--Heading);
  font-weight: 500;
}

h2 {
  font-size: clamp(1.63rem, calc(1.45rem + 0.89vw), 2.25rem);
}

p {
  font-size: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
  font-weight: 400;
  line-height: 1.875rem;
  color: var(--Text);
  transition: var(--Transition);
}

img {
  transition: var(--Transition);
}

.hero-section,
.keepTrack-section,
.accessAnywhere-section,
.supercharge-section,
.download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

aside p {
  max-width: 22.5rem;
  font-size: 1rem;
  line-height: 1.875rem;
}

/* ************************** */
/* HERO SECTION */
/* ************************** */

header {
  position: relative;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#iconToggle {
  width: 30px;
  position: absolute;
  top: 4%;
  right: 4%;
  transition: var();
  cursor: pointer;
}

#iconToggle:hover {
  transform: scale(1.2);
}

.hero-logo {
  width: 7.94rem;
  margin: 8.125rem 0 1.25rem 0;
}

h1 {
  font-size: clamp(2rem, calc(1.77rem + 1.16vw), 2.81rem);
  padding: 2.125rem 0 1.25rem 0;
}

.hero-text {
  max-width: 43.94rem;
  font-size: clamp(0.88rem, calc(0.74rem + 0.56vw), 1.25rem);
  line-height: 1.875rem;
}

/* ************************** */
/* BTN SECTION */
/* ************************** */

a {
  font-size: 1.125rem;
  color: var(--BTN-Color);
}

.btn-container {
  width: 470px;
  display: flex;
  gap: 20px;
  margin: 3.125rem 0 1.875rem 0;
  transition: var(--Transition);
}

.ios {
  background: var(--IOS);
}



.mac {
  background: var(--Mac);
}



button {
  width: 100%;
  min-height: 58px;
  display: block;
  border-radius: 40px;
  transition: var(--Transition);
  cursor: pointer;
}

@media (hover: hover) {
  .ios:hover {
  background: var(--IOS-Hover);
  box-shadow: var(--IOS-Shadow);
}
  
  .mac:hover {
  background: var(--Mac-Hover);
  box-shadow: var(--Mac-Shadow);
}
  }


/* ************************** */
/* KEEP TRACK SECTION */
/* ************************** */

.keepTrack-section {
  gap: 1.25rem;
  margin: 7.32rem 0 9.375rem 0;
}

.flex {
  display: flex;
  margin-top: 3.125rem;
}

.keepTrack-section img {
  width: 100%;
  max-width: 47.063rem;
  margin-left: -5.188rem;
}

.keepTrack-text {
  max-width: 45rem;
}

.keepTrack-fts {
  max-width: 33.75rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3.375rem;
  padding: 7.125rem 3.125rem 3.125rem 7rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.56rem;
}

/* ************************** */
/* ACCESS SECTION */
/* ************************** */

.accessAnywhere-section {
  gap: 1.25rem;
  margin-top: 3.125rem;
  margin-bottom: 100px;
}

.accessAnywhere-text {
  max-width: 41.875rem;
  margin-bottom: 1.875rem;
}

.accessAnywhere-section img {
  width: 100%;
  max-width: 47.063rem;
  margin-top: 3.125rem;
  margin-bottom: 3.75rem;
}

/**************************/
/* SUPERCHARGE SECTION */
/**************************/

.supercharge-section {
  gap: 1.25rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.supercharge-fts {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
  margin: 2.5rem 0 3.125rem 0;
}

h4 {
  font-size: 1.438rem;
  margin-bottom: 1.063rem;
}

.ft--1,
.ft--2,
.ft--3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ft--1 i,
.ft--2 i,
.ft--3 i {
  font-size: 2.5rem;
  color: var(--Icon);
  margin-bottom: 1.875rem;
}

.ft--2,
.ft--3 {
  margin-bottom: 1.875rem;
}

.icon-holder {
  height: 6.25rem;
}

/* ************************** */
/* COMPANIES SECTION */
/* ************************** */

.companies-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6.25rem 0 8.75rem 0;
  padding: 1.25rem;
}

.company-logo {
  width: 100%;
}

.company-logo:hover {
  transform: scale(1.2);
}

/* ************************** */
/* DOWNLOAD SECTION */
/* ************************** */

.download-section {
  gap: 1.25rem;
  margin: 3.125rem 0 7.5rem 0;
}

.download-section p {
  max-width: 43.75rem;
}

/* ************************** */
/* FOOTER SECTION */
/* ************************** */

footer {
  background: var(--Footer);
}

.footer-container {
  min-height: 9.375rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  max-width: 2.75rem;
}

.col {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.25rem;
  transition: var(--Transition);
}

.col > * {
  color: var(--Heading);
  transition: var(--Transition);
}

.col > *:hover {
  transition: 0.3s ease-in-out;
  color: var(--Footer-Hover);
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.social-media > * {
  color: var(--Heading);
  font-size: 30px;
  transition: var(--Transition);
}


@media (hover: hover) {
 .social-media > *:hover {
  color: var(--Footer-Hover);
  transform: scale(1.2);
  transition: var(--Transition);
} 
}

/* ************************** */
/*  MEDIA QUERIES SECTION */
/* ************************** */

/* ************************** */
/*  BELOW 935PX  */
/* ************************** */

@media (max-width: 58.44em) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keepTrack-section img {
    max-width: 100%;
    margin-left: 0;
    padding: 1.25rem;
  }

  .keepTrack-text {
    max-width: 45rem;
  }

  .keepTrack-fts {
    max-width: 62.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.125rem;
    padding: 3.125rem;
  }

  .companies-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6.25rem 0 8.75rem 0;
    padding: 1.25rem;
  }
}

/* ************************** */
/*  BELOW 872PX  */
/* ************************** */

@media (max-width: 54.5em) {
  .supercharge-fts {
    padding: 1.25rem;
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
  }

  .companies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    margin: 0.625rem 0 8.75rem 0;
  }
}

/* ************************** */
/*  BELOW 812PX  */
/* ************************** */

@media (max-width: 50.75em) {
  .keepTrack-fts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.125rem;
    padding: 3.125rem;
  }
}

/* ************************** */
/*  BELOW 729PX  */
/* ************************** */

@media (max-width: 45.56em) {
  .hero-section,
  .keepTrack-section,
  .accessAnywhere-section,
  .supercharge-section,
  .download-section {
    padding: 0 1.25rem;
  }

  .footer-container {
    min-height: 32.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .col {
    row-gap: 1.875rem;
    text-align: center;
  }
}

/* ************************** */
/*  BELOW 538PX  */
/* ************************** */

@media (max-width: 33.63em) {
  header {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
  }

  .btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
